* {
  box-sizing: border-box;
  font-family: sans-serif;
}

form {
  display: inline-flex;
  flex-direction: column;
  gap: .5rem;
}

.formfield {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 44px;
  width: 320px;
  background-color: #fffffff5;
  border: 1px solid #ebebeb;
  border-radius: 500px;
  padding: 24px 22px;
}

label {
  color: #666;
}

input {
  background: none;
  border: none;
  outline: none;
  font-size: 14px; /* Set font size to 14px */
  accent-color: red;
}
